@charset "utf-8";
/* media="(max-width:1399px)"  */


/***** header / .gnb *****/
header {
    text-align: center;
    line-height: 50px;
    /* margin-top: 16px; */

    position: fixed;
    top: 0;
    top: 16px;
    left: 0;
    width: 100%;
    z-index: 99999;
    transition: transform 0.3s ease-in-out;
}
header .gnb {
    margin-left: 16px;
}
/*** header-logo ***/
header .gnb .header-logo {    
    width: 180px;
}
header .gnb .header-logo li {
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin-right: 2px;
    font-weight: 600;
}

header .gnb ul .logo {
    /* width: 180px; */
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin-right: 2px;
    font-weight: 600;
}

header .gnb .dot {
    width: 26px;
    height: 50px;
    border-radius: 11px;
    font-size: 22px;
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin-right: 2px;
    font-weight: 600;
}
header .gnb .slash {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    font-size: 22px;
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin-right: 2px;
    font-weight: 600;
}
header .gnb .name { 
    width: 102px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin-right: 2px;
    font-weight: 600;
}
/*** plus-btn ***/
header .gnb .plus-btn a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-weight: 100;
    font-size: 70px;
    border-radius: 100%;
    background-color: var(--color-gray2);
}
/*** plus-btn ***/
header .gnb .plus-btn a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
    background-color: var(--color-gray2);
    transition: transform 0.3s ease-in-out; /* 회전 애니메이션 */
}
/* 가로선 */
header .gnb .plus-btn a::before {
    content: "";
    position: absolute;
    top: 50%; /* 중앙 정렬 */
    left: 50%;
    width: 28px;
    height: 2px;
    background-color: var(--color-dark1);
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}
/* 세로선 */
header .gnb .plus-btn a::after {
    content: "";
    position: absolute;
    top: 50%; /* 중앙 정렬 */
    left: 50%;
    width: 2px;
    height: 28px;
    background-color: var(--color-dark1);
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

/* 클릭 시 상태 변경 */
header .gnb .plus-btn a.active {
    transform: rotate(180deg); /* 버튼 전체 회전 */
}
/* 클릭 시 변화 */
header .gnb .plus-btn a.active::after {
    opacity: 0; /* 세로선 숨기기 */
}

header .gnb .project-menu {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    flex-wrap: wrap; /* 화면 크기에 따라 줄 바꿈 */
}
header .gnb .project-menu .project-menu-list {
    font-size: var(--font-size-m);
    font-weight: 700;
    text-transform: none;
}
header .gnb .project-menu .project-menu-list a {
    display: block;
    /* border: 2px solid var(--color-dark1); */
    border-radius: 12px;
    background-color: var(--color-white1);
    padding: 1px 16px;
    margin: 2px;
    transition: 0.3s ease-in-out;

}
header .gnb .project-menu .project-menu-list a:hover {
    border-radius: 28px;
    border: none;
}

header .gnb .project-menu .list1 a {}
header .gnb .project-menu .list2 a {}
header .gnb .project-menu .list3 a {}
header .gnb .project-menu .list4 a {}

header .gnb .project-menu .project-menu-list {
    display: none; /* 초기 상태로 숨김 */
    opacity: 0; /* 투명도로 숨김 */
    transform: translateY(-10px); /* 약간 위로 이동된 상태 */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* 부드러운 애니메이션 효과 */
}

header .gnb .project-menu.active .project-menu-list {
    display: block; /* 보이게 전환 */
    opacity: 1; /* 투명도 복원 */
    transform: translateY(0); /* 원래 위치로 이동 */
}


/*****  main-title *****/

.main-title {
    background: var(--color-dark1);
    color: var(--color-white1);
    font-size: var(--font-size-m);
    width: 158px;
    height: 46px;
    line-height: 46px;
    border-radius: 30px;
    padding-left: 30px;
    margin: 100px 0 16px 0;   
}

/********** 마우스 스크롤 시, 컨텐츠박스 라운드 처리!!(js,gsap)  **********/
/*****  main-contents *****/
.main-contents {
    /* width: 1380px; */
    margin: 16px auto;
    width: 90%;
}


/***** main-intro *****/
/*** intro-txt ***/
/*** video_bg ***/
/***** main-intro *****/
.main-contents .main-intro {}
.main-contents .main-intro .main-intro-wrap {
    display: flex;
    flex-direction: column;
}
.main-contents .main-intro .main-intro-wrap .intro-txt {
    background-color: var(--color-dark1);
    color: var(--color-white1);
    height: 378px;
    border-radius: 40px;
    border: var(--color-dark1) 1px solid;
    margin-bottom: 16px;

    padding: 120px 60px 120px 60px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    word-spacing: 2px;

}
.main-contents .main-intro .main-intro-wrap .intro-txt h1 {
    font-size: var(--font-size-xl);
    font-weight: 500;
    /* margin: 8px 0 8px 0; */
    /* padding-bottom: 12px; */
}
.main-contents .main-intro .main-intro-wrap .intro-txt h2 {
    font-size: var(--font-size-l);
    font-weight: 300;
    margin: 8px 0 8px 0;
    border-bottom: 1px solid var(--color-white3);
    padding-bottom: 16px;
}
.main-contents .main-intro .main-intro-wrap .intro-txt p {
    font-size: var(--font-size-xs);
    padding: 8px 0px 0px 0px;
    font-weight: 200;
    /* word-spacing: 2px; */
}

.main-contents .main-intro .main-intro-wrap .intro_bg {
    height: 378px;
    border-radius: 40px;
    border: var(--color-dark1) 1px solid;
    background-color: var(--color-white2);
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-contents .main-intro .main-intro-wrap .intro_bg .intro-img {

}
.main-contents .main-intro .main-intro-wrap .intro_bg .intro-img img {
    width: 126px; 
    /* height: 245px; */
  

}
.main-contents .main-intro .main-intro-wrap .intro_bg video {}


/***** main-goal *****/
.main-contents .main-goal {}
.main-contents .main-goal .main-title {}
.main-contents .main-goal .main-goal-wrap {
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    padding: 16px;
}
.main-contents .main-goal .main-goal-wrap .main-goal-list { margin: 0 auto; }
.main-contents .main-goal .main-goal-wrap .main-goal-list .main-goal-box {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0px 8px 16px 8px;
}
.main-contents .main-goal .main-goal-wrap .main-goal-list .main-goal-box h2 {
    font-size: var(--font-size-l);
    font-weight: 500;
    width: 100%;
    margin: 16px 0 0;
    padding: 10px 8px 0 8px;
}
.main-contents .main-goal .main-goal-wrap .main-goal-list .main-goal-box ul {
    font-size: var(--font-size-ms);
    margin: 0;
    padding: 16px 16px 32px 28px;
    padding: 16px 16px 16px 16px;
    line-height: 1.8;
    list-style: disc;
    list-style-type: disc;
}
.main-contents .main-goal .main-goal-wrap .main-goal-list .main-goal-box ul li {
    margin-left: 16px;
}


/***** main-vision *****/
.main-contents .main-vision-wrap {
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    padding: 50px 30px 50px 30px;

    margin-bottom: 80px;
}
.main-contents .main-vision-wrap .vision-list {
    margin: 0 auto;
    /* display: flex; */
    padding: 16px;
}
.main-contents .main-vision-wrap .vision-list .vision-box {
    /* padding: 16px; */
}
.main-contents .main-vision-wrap .vision-list .vision-box h4 {
    font-size: var(--font-size-ml);
    color: var(--color-dark2);
    font-weight: 300;
    /* width: 100%; */

    /* padding: 0 16px 16px 16px; */
}
.main-contents .main-vision-wrap .vision-list .vision-box ul {}
.main-contents .main-vision-wrap .vision-list .vision-box ul li {}
.main-contents .main-vision-wrap .vision-list .vision-box ul li h2 {
    font-size: var(--font-size-l);
    font-weight: 540;
    margin: 16px 0 60px 0;
}

.main-contents .main-vision-wrap .vision-list .keywords-box {
    position: relative;
    /* width: 300px;  */
    /* 키워드 박스 크기 */
    /* margin: 0 auto; */
    height: 150px;

}
.main-contents .main-vision-wrap .vision-list .keywords-box h4 {
    font-size: var(--font-size-ml);
    color: var(--color-dark2);
    font-weight: 300;
    width: 100%;
    margin-bottom: 32px;
    /* padding: 0 16px 16px 16px; */
}



.main-contents .main-vision-wrap .vision-list .keywords-box ul {}
.main-contents .main-vision-wrap .vision-list .keywords-box ul li {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: var(--color-dark2); */
    /* color: #fff; */
    text-align: center;
    /* line-height: 100px; */
    /* z-index: 1;  */
}
/* 키워드 위치 조정 */
.keywords-box ul li:nth-child(1) {
    background-color: var(--color-dark1);
    z-index: 1;
}

.keywords-box ul li:nth-child(2) {
    left: 50%; transform: translateX(-50%);
    background-color: var(--color-dark2);
    z-index: 2;
}

.keywords-box ul li:nth-child(3) {
    z-index: 3;
    right: 0;
    background-color: var(--color-dark1);
}
.main-contents .main-vision-wrap .vision-list .keywords-box ul li h2 {   
    color: var(--color-white1);
    /* background-color: var(--color-dark1); */
    width: 100px; height: 100px;
    border-radius: 100%;
    text-align: center; line-height: 100px;
}

/* 모바일 숨기기!!!!! PC에서만 보이기!!!!!! */
.main-contents .main-vision-wrap .vision-list .keywords-box ul li p {
    display: none;
}


/***** main-solution *****/
.main-contents .main-solution {

}
.main-contents .main-solution .main-title {}
.main-contents .main-solution .main-solution-wrap {
    text-align: center;
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    /* padding: 50px 30px 50px 30px; */
    width: 100%; height: 100%;
    margin-bottom: 80px;
    padding: 70px 16px 70px 16px;
}
.main-contents .main-solution .main-solution-wrap .solution-list {}
.main-contents .main-solution .main-solution-wrap .solution-list .solution-box {

}
.main-contents .main-solution .main-solution-wrap .solution-list .solution-box h4 {
    font-size: var(--font-size-ml);
    color: var(--color-dark2);
    font-weight: 400;
    margin-bottom: 26px;
}
.main-contents .main-solution .main-solution-wrap .solution-list .solution-box ul li {
    font-size: var(--font-size-m);
    font-weight: 400;
    border-radius: 5px;
    padding: 16px 32px 16px 32px;
    padding: 16px 0px 16px 0px;
    margin: 16px 0;
}
.main-contents .main-solution .main-solution-wrap .solution-list .solution-box .as-is-text {
    margin-bottom: 60px;
}
.main-contents .main-solution .main-solution-wrap .solution-list .solution-box .as-is-text li {
    color: var(--color-dark2);
    background-color: var(--color-white3);
}
.main-contents .main-solution .main-solution-wrap .solution-list .solution-box .to-be-text li {
    color: var(--color-white1);
    background-color: var(--color-dark1);
}



/***** main-prototype *****/
.main-contents .main-prototype {}
.main-contents .main-prototype .main-prototype-wrap {}
.main-contents .main-prototype .main-prototype-wrap .prototype-list {}
.main-contents .main-prototype .main-prototype-wrap .prototype-list li {
    display: flex;
    flex-direction: column;
    /* margin: 16px 0 16px 0; */
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list li div {
    margin: 0 0 16px 0;
}

.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-list-img {
    height: 408px;
    background-color: var(--color-blue1);
    border-radius: 40px;
    /* margin: 16px 0 16px 0; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-list-img img {
    width: 144px; 
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .box1 img {
    width: 280px; 
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .box3 img {
    width: 270px; 
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit {
    height: 408px;
    border: 1px solid var(--color-blue1);
    background-color: var(--color-blue2);
    border-radius: 40px;
    padding: 32px;
    /* padding: 48px 20px 20px 60px; */

    display: flex;
    justify-content: center;
    align-items: center;

}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt {

}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt span {
    font-size: var(--font-size-ms);
    color: var(--color-blue1);
    font-weight: 550;

}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt h2 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    margin: 8px 0 16px 0;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt ul {
    font-size: var(--font-size-m);
    /* margin: 16px; */
    margin-top: 80px;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list li .prototype-tit .prototype-txt ul li {
    list-style-type: disc;
    display: list-item; 
    margin-left: 20px;

}



/***** main-styleGuide *****/
/*** main-styleGuide-wrap ***/
/*** styleGuide-list ***/
/*** styleGuide-box ***/
.main-contents .main-styleGuide {}
.main-contents .main-styleGuide .main-styleGuide-wrap {
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    padding: 16px;
}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list {
    margin: 0 auto;
}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list .styleGuide-box {}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list .styleGuide-box h4 {
    font-size: var(--font-size-ml);
    color: var(--color-dark2);
    font-weight: 300;
    width: 100%;
    margin: 16px 0 0;
    /* padding-left: 16px; */
    padding: 16px 16px 16px 16px;
}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list .styleGuide-box img {
    width: 100%;
    /* padding: 16px 0px 0px 16px; */
    margin: 0 0 16px 0;
}
.main-styleGuide-wrap .styleGuide-list .styleGuide-box:last-child {
    /* background-color: dodgerblue; */
    margin-bottom: 32px;
}


/***** main-review *****/
/*** main-review-wrap ***/
/*** main-review-list ***/
/*** main-review-box ***/
.main-contents .main-review {}
.main-contents .main-review .main-review-wrap {
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    padding: 16px;
}
.main-contents .main-review .main-review-wrap:hover {
    border-radius: 60px;
    transition: all 1s ease-in-out;
}
.main-contents .main-review .main-review-wrap .main-review-list {
    margin: 0 auto;
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box {
    display: grid;
    border-bottom: 1px solid var(--color-white3);
    padding: 0px 8px 16px 8px;
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box:last-child { border-bottom: none; }
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box h2 {
    font-size: var(--font-size-l);
    font-weight: 500;
    width: 100%;
    margin: 16px 0 0;
    /* padding-left: 30px; */
    padding: 16px 8px 0 8px;

}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box:nth-child(1) h2 {
    padding-top: 32px;
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box:nth-child(4) ul {
    padding-bottom: 32px;
    /* background-color: saddlebrown; */
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box ul {
    font-size: var(--font-size-ms);
    /* width: 100%; */
    /* width: 100px; */
    margin: 0;
    padding: 16px 16px 32px 28px;
    /* padding: 16px 8px 32px 36px; */
    /* padding-left: 24px; */
    line-height: 1.8;
    list-style: disc;
    list-style-type: disc;
    
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box ul li {}


/***** main-viewMore *****/
/*** main-viewMore-wrap ***/
/*** viewMore-list ***/
/*** viewMore-box ***/

.main-contents .main-viewMore {}
.main-contents .main-viewMore .main-viewMore-wrap {}
.main-contents .main-viewMore .main-viewMore-wrap .viewMore-list a .viewMore-box {

    border-radius: 10px;
    border: 1px solid var(--color-dark1);
    /* width: 358px;  */
    height: 186px;  
    opacity: 0.7;
}

.main-contents .main-viewMore .main-viewMore-wrap .viewMore-list a .box1 {
    background: url(./img-project1/viewMore-img1.png) no-repeat 70% / cover;
}
.main-contents .main-viewMore .main-viewMore-wrap .viewMore-list a .box2 {
    background: url(./img-project1/viewMore-img2.png) no-repeat 70% / cover;
}
.main-contents .main-viewMore .main-viewMore-wrap .viewMore-list a .box3 {
    background: url(./img-project1/viewMore-img3.png) no-repeat 70% / cover;
}
.main-contents .main-viewMore .main-viewMore-wrap .viewMore-list a p {
    font-size: var(--font-size-m);
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 32px;
}



/***** footer *****/
footer {
    margin: 16px;
    width: 100%;
    margin: 100px auto 16px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
/********** 모바일 디자인 추후 수정!! **********/
/*** footer-folder ***/
footer .footer-folder {
    display: flex;
    margin: 0px 5px 16px;
    /* height: 10vh; */
    /* width: 100%; */
}
footer .footer-folder .folder-img {
}
footer .footer-folder .folder-img a {
    display: block;
    width: 88px;
    height: 88px;
    background-color: var(--color-dark1);
    border-radius: 20px;
    position: relative;
    margin: 0 5px;
}
footer .footer-folder .folder-img a img {
    width: 52px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; margin: auto;
}

footer .footer-folder .folder-list {
    
    padding: 10px 20px 4px;
    box-sizing: border-box;
    width: 90%;
    height: 88px;
    background-color: var(--color-white2);
    border-radius: 20px;
    

}
footer .footer-folder .folder-list h4 {
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2px;
    /* margin-bottom: 10px; */

}
footer .footer-folder .folder-list .footer-contact {
    /* background-color: darkblue; */
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-around; */

}

footer .footer-folder .folder-list .footer-contact li {
    font-size: var(--font-size-ms);
    font-weight: 400;
    /* text-align: center; */
    /* margin-left: 14px; */
    margin-top: 3px;
    margin: 0 -5px;
    /* margin-bottom: 4px; */
}
footer .footer-folder .folder-list .footer-contact li a {
    
}
footer .footer-folder .folder-list .footer-contact li:hover {
    text-decoration: underline;
    
}

footer .footer-folder .folder-list p {
    color: var(--color-gray2);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    text-align: center;
    margin-top: 4px;


}

/*** footer-logo / M-bot, PC-left ***/
footer .footer-logo {  
    /* margin: 16px; */
    text-align: center;
    width: 100%;
    height: 88px; 

}
footer .footer-logo li {
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin: 0 5px;
    font-weight: 600;
    line-height: 5vh;
    padding: 20px;
}
footer .footer-logo .dot {
    width: 15%;

    /* line-height: 110px; */
    border-radius: 35px;
    font-size: var(--font-size-xxxl);

}
footer .footer-logo .slash {
    width: 30%;
    /* height: 160px;  */
    /* line-height: 110px; */
    border-radius: 25px;
    font-size: var(--font-size-xxxl);

}
footer .footer-logo .name {
    width: 75%;
    /* height: 160px;  */
    /* line-height: 110px; */
    border-radius: 100px;
    font-size: var(--font-size-xxl);
}
