@charset "utf-8";
/* media="(max-width:1399px)"  */

/***** header / .gnb *****/
header {
    text-align: center;
    line-height: 50px;
    margin-top: 16px;
}
header .gnb {
    margin-left: 16px;
}
/*** header-logo ***/
header .gnb .header-logo {    
    width: 180px;
}
header .gnb .header-logo li {
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin-right: 2px;
    font-weight: 600;
}
header .gnb .header-logo .dot {
    width: 26px;
    height: 50px;
    border-radius: 11px;
    font-size: 22px;
}
header .gnb .header-logo .slash {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    font-size: 22px;
}
header .gnb .header-logo .name { 
    width: 102px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
}
/*** plus-btn ***/
header .gnb .plus-btn a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-weight: 100;
    font-size: 70px;
    border-radius: 100%;
    background-color: var(--color-gray2);
}

/*****  main-title *****/

.main-title {
    background: var(--color-dark1);
    color: var(--color-white1);
    font-size: var(--font-size-m);
    width: 158px;
    height: 46px;
    line-height: 46px;
    border-radius: 30px;
    padding-left: 30px;
    margin: 100px 0 16px 0;   
}

/********** 마우스 스크롤 시, 컨텐츠박스 라운드 처리!!(js,gsap)  **********/
/*****  main-contents *****/
.main-contents {
    /* width: 1380px; */
    margin: 16px auto;
    width: 90%;
}


/***** main-intro *****/
/*** intro-txt ***/
/*** video_bg ***/

/***** main-goal *****/
/*** main-goal-wrap ***/
/*** main-goal-list ***/
/*** main-goal-box ***/



/***** main-strategy *****/
/*** main-strategy-wrap ***/
/*** strategy-list ***/
/*** strategy-box ***/







/***** main-styleGuide *****/
/*** main-styleGuide-wrap ***/
/*** styleGuide-list ***/
/*** styleGuide-box ***/
.main-contents .main-styleGuide {}
.main-contents .main-styleGuide .main-styleGuide-wrap {
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    padding: 16px;
}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list {
    margin: 0 auto;
}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list .styleGuide-box {}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list .styleGuide-box h4 {
    font-size: var(--font-size-ml);
    color: var(--color-dark2);
    font-weight: 300;
    width: 100%;
    margin: 16px 0 0;
    padding: 16px 16px 16px 16px;
}
.main-contents .main-styleGuide .main-styleGuide-wrap .styleGuide-list .styleGuide-box img {
    width: 100%;
    /* padding: 16px 0px 0px 16px; */
    margin: 0 0 16px 0;
}
.main-styleGuide-wrap .styleGuide-list .styleGuide-box:last-child {
    margin-bottom: 32px;
}




/***** main-prototype *****/
.main-contents .main-prototype .main-prototype-wrap .prototype-list li {
    display: flex;
    flex-direction: column;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list li div {
    margin: 0 0 16px 0;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-list-img {
    height: 408px;
    background-color: var(--color-yellow1);
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-list-img img {
    /* min-width: 286px; */
    width: 300px;
}

.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit {
    /* height: 408px; */
    border: 1px solid var(--color-yellow1);
    background-color: var(--color-yellow2);
    border-radius: 40px;
    padding: 48px 32px 48px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt span {
    font-size: var(--font-size-ms);
    color: var(--color-dark2);
    font-weight: 550;

}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt h2 {
    font-size: var(--font-size-ml);
    font-weight: 700;
    margin: 8px 0 8px 0;
}
.main-contents .main-prototype .main-prototype-wrap .prototype-list .prototype-tit .prototype-txt ul {
    font-size: var(--font-size-ms);

}
.main-contents .main-prototype .main-prototype-wrap .prototype-list li .prototype-tit .prototype-txt ul li {
    list-style-type: disc;
    display: list-item; 
    margin-left: 20px;
    color: var(--color-dark2);
}

.main-contents .main-prototype .main-prototype-wrap .prototype-list li .prototype-tit .prototype-txt-bottom {
    margin-top: 32px;
}


/***** main-review *****/
.main-contents .main-review {}
.main-contents .main-review .main-review-wrap {
    border: 1px solid var(--color-dark1);
    border-radius: 40px;
    background-color: var(--color-white2);
    padding: 16px;
}
.main-contents .main-review .main-review-wrap:hover {
    border-radius: 60px;
    transition: all 1s ease-in-out;
}
.main-contents .main-review .main-review-wrap .main-review-list { margin: 0 auto;}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0px 8px 16px 8px;
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box h2 {
    font-size: var(--font-size-l);
    font-weight: 500;
    width: 100%;
    margin: 16px 0 0;
    padding: 10px 8px 0 8px;
}
.main-contents .main-review .main-review-wrap .main-review-list .main-review-box ul {
    font-size: var(--font-size-ms);
    margin: 0;
    padding: 16px 16px 32px 28px;
    padding: 16px 16px 16px 16px;
    line-height: 1.8;
    /* list-style: disc; */
    /* list-style-type: disc; */
}



/***** main-viewSite *****/
.main-contents .main-viewSite {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}
.main-contents .main-viewSite .viewSite a {
    display: block;
    background: var(--color-yellow1);
    color: var(--color-white1);
    font-size: var(--font-size-m);
    text-align: center;
    width: 158px;
    height: 46px;
    line-height: 46px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}
.main-contents .main-viewSite .viewSite a:hover {
    border-radius: 12px;
    font-weight: 500;
}




/***** footer *****/
footer {
    margin: 16px;
    width: 100%;
    margin: 100px auto 16px;

    display: flex;
    flex-direction: column;
}

/********** 모바일 디자인 추후 수정!! **********/
/*** footer-folder ***/
footer .footer-folder {
    display: flex;
    margin: 0px 5px 16px;
    /* height: 10vh; */
    /* width: 100%; */
}
footer .footer-folder .folder-img {
}
footer .footer-folder .folder-img a {
    display: block;
    width: 88px;
    height: 88px;
    background-color: var(--color-dark1);
    border-radius: 20px;
    position: relative;
    margin: 0 5px;
}
footer .footer-folder .folder-img a img {
    width: 52px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; margin: auto;
}

footer .footer-folder .folder-list {
    padding: 10px 20px 4px;
    box-sizing: border-box;
    width: 90%;
    height: 88px;
    background-color: var(--color-white2);
    border-radius: 20px;
}
footer .footer-folder .folder-list h4 {
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2px;
}
footer .footer-folder .folder-list .footer-contact {
    display: flex;
    justify-content: space-evenly;
}

footer .footer-folder .folder-list .footer-contact li {
    font-size: var(--font-size-ms);
    font-weight: 400;
    margin-top: 3px;
    margin: 0 -5px;
}

footer .footer-folder .folder-list .footer-contact li:hover {
    text-decoration: underline;
}

footer .footer-folder .folder-list p {
    color: var(--color-gray2);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    text-align: center;
    margin-top: 4px;
}

/*** footer-logo / M-bot, PC-left ***/
footer .footer-logo {  
    text-align: center;
    width: 100%;
    height: 88px; 
}
footer .footer-logo li {
    background-color: var(--color-dark1);
    color: var(--color-white1);
    margin: 0 5px;
    font-weight: 600;
    line-height: 5vh;
    padding: 20px;
}
footer .footer-logo .dot {
    width: 15%;
    border-radius: 35px;
    font-size: var(--font-size-xxxl);

}
footer .footer-logo .slash {
    width: 30%;
    border-radius: 25px;
    font-size: var(--font-size-xxxl);
}
footer .footer-logo .name {
    width: 75%;
    border-radius: 100px;
    font-size: var(--font-size-xxl);
}
